.parallax {
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.p-group {
  position: relative;
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
}

.p-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.p-layer-front {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 5;
}

.p-layer-back{
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2) translateX(-5px);
  z-index: 3;
}



#group-title {
  z-index: 3; 
}
#group-title .p-layer-back {
  background-image: url("../images/stary_rynek.png");
  background-size: cover;
  background-position: center;
}


#group-organizers {
  z-index: 4; 
  height: 150%;
}

#group-about {
  z-index: 3; 
}
#group-about .p-layer-back {
  z-index: 2;
  background-image: url("../images/centrum_wykladowe.png");
  background-size: cover;
  background-position: center;
}

#group-timetable {
  z-index: 10; 
}

#group-panels {
  z-index: 5; 
}
#group-panels .p-layer-back {
  z-index: 2;
  background-image: url("../images/cw-biblioteka.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: overlay;
}

#group-accomodation {
  z-index: 6; 
}
#group-accomodation .p-layer {
  background-image: url("../images/hotel.png");
  background-size: cover;
  background-position: center;
}

#group-contact{
  z-index: 10;
}



.debug {
  position: fixed;
  top: 0;
  left: .5em;
  z-index: 999;
  background: rgba(0,0,0,.85);
  color: #fff;
  padding: .5em;
  border-radius: 0 0 5px 5px;
}
.debug-on .p-group {
  -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}
.debug-on .p-layer {
  box-shadow: 0 0 0 2px #000;
  opacity: 0.9;
}
.p-group {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}