*{
	margin: 0;
}

html{
	height: 100%;
}

html::-webkit-scrollbar { 
    display: none; 
}
body{
	background-color: #eee;
	margin: 0;
	height: 100%;
	font-family: 'Ubuntu', 'sans-serif';
	overflow: scroll;
	overflow-x: hidden;
  	-webkit-overflow-scrolling: touch;

	background-color: #0E1321;	
}


h3{
	background-color: #830628;
	text-align: center;
	color: #fff;
	font-size: 2em;
}


.subpage{
	height: 100%;
}

header{
	z-index: 1001;
	position: fixed;
	width: 100%;

	background: linear-gradient(black, transparent);
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	
}
	header a{
		text-decoration: none;
		color: #fff;
		transition: all 0.2s ease 0s;
	}
	header a:hover{
		color: #830628;

	}

	header ul.menu{
		list-style: none;
		display: flex;
		justify-content: space-around;
		align-content: center;
		align-items: center;
		flex-wrap: wrap;
		font-family: 'Ubuntu', 'sans-serif';
		height: 100%;
		width: 80%;
		margin: auto;
		padding: 0;
	}
	header #logos{
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0 15px;
	}

	header nav{
		display: flex;
		justify-content: space-around;
		flex-grow: 1;
		flex-wrap: wrap;
	}
	header li{
		justify-content: center;
		align-content: center;
		padding: .8em;
		font-size: 1.2em;
	}

	#title #logo{
		margin: 4% auto 0 auto;
		width: 100%;
		height: 75%;

		background-image: url("../images/logos/FUT_poznan.png");
		background-position: center;
		background-size: 30%;
		background-repeat: no-repeat;  

	}


	#title #zegar{
		width: 100%;
		height: 20%;

		color: #fff;
		justify-content: center;
		align-items: center;

		font-size: 35px;
	}

		#zegar h1{
			margin-bottom: 10px;

			font-size: 25px;
			text-align: center;
			font-variant: small-caps;
		}
		
		#zegar #timer{
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#zegar #timer .timer_item{
			margin: 0 25px;
		}

		#zegar #timer .time{
			font-size: 50px;
			text-align: center;
		}

		#zegar #timer .description{
			text-align: center;
			font-size: 15px;
			line-height: 20px;
		}


#organizers{
	background-color: white;
}
	#organizers #logos-holder{
		height: 150px;
		width: 930px;
		transform: translateX(-50%);
		position: relative;
		left: 50%;
		margin: 50px 0;
	}

	#organizers .logo{
		width: 250px;
		height: 100%;
		display: inline-block;
		margin: 0 30px;

		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	#organizers #put-logo{
		background-image: url("../images/logos/put_logo.png")
	}

	#organizers #sspp-logo{
		background-image: url("../images/logos/sspp_logo.png")
	}

	#organizers #pan-logo{
		background-image: url("../images/logos/pan_logo.png")
	}

	#organizers p{
		font-size: 3em;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding-top: 2em;
	}

	#organizers iframe{
		margin-left: auto;
		margin-right: auto;
		width: 63%;
		height: 35.4375%;
		display: block;
	}

	#organizers .white-box{
		color: #830628;
		width: 59%;
		height: 20%;
		margin: 0.5em 0;
		padding: 1em;
	}
	#organizers a{
		display: block;
		margin-left: auto;
		margin-right: auto;

		background-color: #fff;
		border: #830628 8px solid;
		width: 63%;
		font-size: 4em;
		margin-top: 0.5em;
		text-align: center;
		text-decoration: none;
		color: #000;
		overflow: hidden;
		transition: all 0.3s ease 0s;
	}
	#organizers a:hover{
		background-color: #830628;
		color: #fff;
	}

.red-bg{
	/* background-color: #830628; */
	background-color: rgba(130,21,43,0.6);
	color: #fff;
	height:100%;
	width: 50%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h4{
	font-size: 2.5em;
	margin-bottom: 1em;
	margin-top: 0;
	text-align: center;
	color: #fff;
	
}

.white-box{
	border: solid 2px;
	color: #fff;
	height:70%;
	width: 80%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	font-size: 1.4em;
	overflow: hidden;
}

.white-box p{	
	color: #fff;
	padding: 1em;
}

#timetable{
	display: block;
	height: fit-content;
	box-sizing: border-box;
	padding-bottom: 20px;

	background-color: #fff;
}

	#timetable .dayname-holder{
		width: 50%;
		height: 7vw;
		clear: both;
		display: inline-block;
		margin: 14px 0 10px 0;
	}

	#timetable .dayname-holder.left{
		margin-right: 50% ;
	}

	#timetable .dayname-holder.right{
		margin-left: 50%;
	}

	#timetable h5{
		top: 50%;
		position: relative;

		font-size: 1.8em;
		text-align: center;
	}

	#timetable h5.left{
		float: right;
		transform: translateX(30%) translateY(-50%);
	}

	#timetable h5.right{
		float: left;
		transform: translateX(-30%) translateY(-50%);
		top: 50%;
	}

	#timetable .day-img{
		height: 7vw;
		width: 7vw;
		
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	#timetable .day-img.left{
		float: right;
		transform: translateX(50%);
	}

	#timetable .day-img.right{
		float: left;
		transform: translateX(-50%);
	}

		#timetable #thu-img{
			background-image: url(../images/thu.png);
		}

		#timetable #fri-img{
			background-image: url(../images/fri.png);
		}

		#timetable #sat-img{
			background-image: url(../images/sat.png);
		}

		#timetable #sun-img{
			background-image: url(../images/sun.png);
		}

	#timetable ul.left{
		width: 50%;
		float: left;
		border-right: 2px solid #830628;
		padding: 0 1% 0 0;
		box-sizing: border-box;

		text-align: right;
	}

	#timetable ul.right{
		width: 49%;
		float: right;
		border-left: 2px solid #830628;
		padding: 0 0 0 1%;

		text-align: left;
	}

	#timetable ul li{
		list-style: none;
		margin: 5px 0;

		font-size: 1.2em;
	}

	#timetable ul li.event_extended{
		color: #9c7c83;
	}

	#timetable ul li.event_now{
		color: #830628;
		font-weight: bold;
	}

	#panels form{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	input {
		display:none;
	}
	
	input + label {
		display: block;
		margin-left: auto;
		margin-right: auto;

		background-color: rgba(130,21,43,0.6);
		border: #fff 4px solid;
		/* width: 85%; */
		font-size: 3em;
		margin-top: 0.5em;
		text-align: center;
		text-decoration: none;
		color: #fff;
		overflow: hidden;
		transition: all 0.3s ease 0s;
		padding: 0.2em;

		font-family: 'Ubuntu', 'sans-serif';
	}

	input:checked + label{
		background-color: #fff;
		color: #830628;
	}

	#label:hover + label{
		background-color: #fff;
		color: #830628;
	}

	#panels .panels-about{
		background-color: rgba(130,21,43,0.6);
		border: #fff 4px solid;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		color: #fff;
		padding: 0.5em;
		transition: all 0.5s linear, padding 0.2s;
		overflow: hidden;
		max-height: 1000px;
	}

	#panels .panels-hidden{
		max-height: 0;
		padding: 0;
		transition: all 0.5s linear, padding 0.5s 0.5s;
	}


	#panels #button-big{
		width: 100%;
		margin-left: 2vw;
		margin-right: 2vw;
	}
	#panels #panel0-block0{
		width: 100%;
		margin-left: 2vw;
		margin-right: 2vw;
	}

	.panels-block{
		margin-top: 2em;
		width: 45%;
	}


#accomodation{
	background-color: #fff;
}

#partners{
	background-color: #fff;
}

#contact{
	display: block;
	height: fit-content;
	box-sizing: border-box;

	background-color: #fff;
}

	#contact #foto-holder{
		margin: 20px 0;
		height: 350px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	#contact .foto-section{
		height: 100%;
		width: 25%;
	}

	#contact .foto-section h4{
		margin: 15px;
		color: #000;
		font-size: 25px;
		line-height: 25px;
	}

	#contact .foto-section h5{
		text-align: center;
		font-size: 18px;
		line-height: 18px;
	}

	#contact .logo{
		width: 100%;
		height: 50%;
		display: inline-block;

		text-align: center;


		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	#contact #foto1-logo{
		background-image: url("../images/contact/slice1.png")
	}

	#contact #foto2-logo{
		background-image: url("../images/contact/slice2.png")
	}

	#contact #foto3-logo{
		background-image: url("../images/contact/slice3.png")
	}

#group-trivia{
	background-color: #830628;
	height:50%;
}

#trivia-box{
	color: #fff;
	font-size: 2em;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90%;
	padding: 0 1em;
}


#group-instagram{
	background-color: #fff;
}


	#group-instagram img{
		border: solid #000 4px;
		margin: 1em;
	}

	#instafeed{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

/* responsive */
/*smartphone-portrait*/
@media only screen and (max-width: 766px) and (orientation: portrait){
	h3{
		font-size: 1.2em;
	}

	header img{
		height: 40px;
		margin: 5px 0;
	}

	header li{
		padding: 0.5em;
		font-size: .8em;
	}

	header ul.menu{
		width: 100%;
	}

	#title #logo{
		height: 70%;

		background-size: 40%;
	}

	#title #zegar{
		height: 20%;
	}

	#zegar h1{
		font-size: .5em;
	}

	#zegar #timer .time{
		font-size: .8em;
	}

	#zegar #timer .description{
		font-size: .3em;
		line-height: .35em;
	}

	#organizers #logos-holder{
		height: 40%;
		width: 100%;
		margin: 0;
	}

	#organizers .logo{
		/*width: 250px;
		height: 100%;
		display: inline-block;
		margin: 0 30px;

		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;*/
		width: 100%;
		height: 25%;
		margin: 3% 0;
	}

	
	#organizers .white-box{
		width: 98%;
		height: 20%;
		padding: 0 1%;
		border: none;
		font-size: 0.85em;
	}

	#organizers iframe{
		width: 100%;
		height: 20%;
	}

	#organizers a{
		height: auto;
		width: 90%;
		margin: 2% auto;
		border: #82152b 2px solid;

		font-size: 2em;
	}
}

/*smartphone-small*/
@media only screen and (max-width: 321px) and (orientation: portrait){
	
	#title #logo{
		margin-top: 10%;
		height: 60%;

		background-size: 45%;
	}
	
	#zegar h1{
		font-size: .4em;
	}

	#zegar #timer .time{
		font-size: .7em;
	}

	#zegar #timer .description{
		font-size: .25em;
		line-height: .3em;
	}

	#title #zegar{
		height: 30%;
	}
}

/*smartphone-landcape*/

@media only screen and (max-width: 766px) and (orientation: landscape) {
	
}


/*---smallPC---*/

@media only screen and (min-width: 901px) and (max-width: 1279px){
	
	
}


/*bigPC*/
	@media only screen and (min-width: 1650px) and (max-width: 2558px){
	
}


/*giantPC*/
	@media only screen and (min-width: 2559px) and (max-width: 2561px){
		
}

